/*General Outlook*/
/*------------------------------------------------------------*/
body {
  background-color: darkblue;/*old browsers*/
  background-color: hsl(217, 54%, 11%);
  color: aqua;/*old browsers*/
  color: hsl(215, 51%, 70%);
  font-size: 1.125rem;
  font-family: 'Outfit', sans-serif;
}

/*Container*/
/*------------------------------------------------------------*/
.main-section {
  background-color: darkblue; /*old browsers*/
  background-color: hsl(216, 50%, 16%);
  border-radius: 20px;
  width: 18.75rem;
  margin: 70px auto 30px;
  padding: 1rem;
}

.r {
  max-width: 18.75rem;
  height: 18.75rem;
  border-radius: 20px;
}

.r:hover {
  cursor: pointer;
  background-color: cyan;/*old browsers*/
  background-color: hsl(178, 100%, 50%);
  opacity: 1;
}

.r:hover .equilibrium {
  opacity: 0.4;
}

.equilibrium {
  margin: auto;
  max-width: 18.75rem;
  border-radius: 20px;
}

.invisible-img {
  position: absolute;
  top: 13.25rem;
  right: 46rem;
  opacity: 0;
}

.r:hover .invisible-img {
  opacity: 1;
}



.para-2 {
  margin: 20px 0;
}

.eth {
  color: cyan; /*old browsers*/
  color: hsl(178, 100%, 50%);
  display: inline;
}

.time-lapse {
  float: right;
}

.icon-info {
  display: inline;
  margin-left: 5px;
}

hr {
  border-top: none;
  border-color: darkblue;/*old browsers*/
  border-color: hsl(215, 32%, 27%);
}

h1 {
  color: white;/*old browsers*/
  color: hsl(0, 0%, 100%);
  font-size: 1.125em;
  margin: 20px 0;
}

h1:hover {
  color: cyan;/*old browsers*/
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}

span {
  color: white;/*old browsers*/
  color: hsl(0, 0%, 100%);
  font-size: 1.125em;
}

span:hover {
  color: cyan;/*old browsers*/
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}

.jules-wyvern {
  display: flex;
  align-items: center;
}

#jules-wyvern {
  width: 30px
}

.attribution {
  font-size: 11px; text-align: center;
}

.attribution a {
  color: darkblue;/*old browsers*/
  color: hsl(228, 45%, 44%);
}

.attribution a:hover {
  color: cyan;/*old browsers*/
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}


/*Note: I know this is very messy, I'll try everything to get a lot better. Corrections are welcomed*/
